@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
 

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="display-4">Get In Touch</h1>
    </div>
</div>

<div class="container py-5">
    <form asp-action="Contact" asp-controller="Contact" method="post">
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }

        <div class="mb-3">
            <label asp-for="SenderName">Name</label>
            <input asp-for="SenderName" class="form-control" />
            <span asp-validation-for="SenderName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Subject">Subject</label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SenderEmail">Email</label>
            <input asp-for="SenderEmail" class="form-control" />
            <span asp-validation-for="SenderEmail" class="text-danger"></span>
        </div>
    

        <div class="mb-3">
            <label asp-for="Body">Message</label>
            <textarea asp-for="Body" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
        