@model ForgotPasswordViewModel

    <div class="container mt-3">
<div class="row d-flex justify-content-center">
    <div class="shadow-sm p-3 rounded bg-white">
        <h2>Forgot Password?</h2>


            @if (TempData["Message"] != null)
            {
                <div>@TempData["Message"]</div>
            }
        <div asp-validation-summary="All"></div>
   <form asp-action="forgotpassword" asp-controller="account" method="post">

    <div class="mb-3">
        <label asp-for="Email">Email Address</label>
         <input asp-for="Email" class="form-control" id="email" placeholder=" Enter your registered email address"   />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

      <p style="border-radius:20px"><button type="submit" class="btn btn-primary bg-dark text-white border-0">Send Reset Link</button></p>
        <p class="text-muted">We'll send you a link to reset your password.</p>
    </form>
     </div>
     </div>
     </div>
 