@using Portfolio.Models.Entity
@model WorkHistory

@{
    ViewData["Title"] = "Work History";
}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="shadow-sm p-3 rounded bg-white">
    <h1> Work History </h1>

    <form asp-action="editWorkHistory" asp-controller="dashboard" method="post">
                <div class="form-group">
            <label asp-for="CompanyName">Company Name</label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>

                <div class="form-group">
            <label asp-for="Position">Position</label>
            <input asp-for="Position" class="form-control" />
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>

                <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

                <div class="form-group">
            <label asp-for="CompanyAddress">Company Address</label>
            <input asp-for="CompanyAddress" class="form-control" />
            <span asp-validation-for="CompanyAddress" class="text-danger"></span>
        </div>

                <div class="form-group">
            <label asp-for="Skills">Skills</label>
            <input asp-for="Skills" class="form-control" />
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>

                <div class="form-group">
            <label asp-for="StartDate">StartDate</label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>


                <div class="form-group">
            <label asp-for="EndDate">EndDate</label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>


                <p class="text-center" style="border-radius:20px"><button type="submit" class="btn btn-primary bg-dark text-white border-0">Submit</button></p>
     
    </form>
</div>
</div>
</div>